# project specific
_out/
_bin/
_build/

# build tools
node_modules/
bower_components/
.sass-cache/

# osx specific
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Icon

