// The next layer houses your globally available tooling – namely mixins and functions.
// Any mixin or function that does not need accessing globally should belong in the
// partial to which it relates. The Tools layer comes after the Settings layer because
// a mixin may require one of the global settings as a default parameter.
// Examples of global tools might be gradient mixins, font-sizing mixins and so on.

/* Variables */

/* Fonts */

/* Mixins */

// REM font size with px fallback.
// usage: @include font-size(16);
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

/* Extends */

// clear floats
%clear-fix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// reset list styles
%reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-image: none;
}