// The Generic layer is the first one that actually produces any CSS. It houses very
// high-level, far reaching styles. This layer is seldom modified, and is usually
// the same across any projects you work on. It contains things like Normalize.css,
// global box-sizing rules, CSS resets and so on. The Generic layer affects a lot
// of the DOM, hence it being nice and wide in the Triangle model, and occurring
// very early on.

body,
html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "icon-font";
  src:url("../fonts/icon-font.eot");
  src:url("../fonts/icon-font.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon-font.woff") format("woff"),
    url("../fonts/icon-font.ttf") format("truetype"),
    url("../fonts/icon-font.svg#icon-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}