nav {
	text-align: right;
	ul {
		margin: 0;
		padding: 0;
	}
}

nav a {
	display: block;
	color: red;
	padding: 10px;
	background: $wireframe-2;
	
	&:hover {
		background: $wireframe-3;
	}
}

@include breakpoint($desktop) {
	nav a {
		color:blue;
	}
}