html {
  font-family: $default-font;
  font-size: $base-font-size;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes 
  -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes 
}

::selection {
  background: $accent-color;
  text-shadow: none;
}
