.layout {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.layout__item {
  flex: 0 0 auto;
  width: 100%;
}

.mdc-layout-grid__cell {
  border: solid 1px $primary-color;
}
