$primary-color: #cc208e;
$accent-color: #6713d2;

$grey-dark: #333;
$grey: #ccc;
$grey-light: #fefefe;

$white: #fff;
$black: #000;

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700'); // sass-lint:disable-line no-url-domains no-url-protocols
$default-font: 'Lato', sans-serif;
$base-font-size: 16px;

$light-font: 300;
$normal-font: 400;
$bold-font: 700;

$spacing-unit--xs: 10px;
$spacing-unit--s: 20px;
$spacing-unit--m: 30px;
$spacing-unit--l: 40px;
$spacing-unit--xl: 50px;

// https://material.io/guidelines/layout/responsive-ui.html#responsive-ui-breakpoints
$breakpoints: (
  xs-360: 360px,
  xs-400: 400px,
  xs-480: 480px,
  s-600: 600px,
  s-720: 720px,
  s-840: 840px,
  s-960: 960px,
  m-1024: 1024px,
  m-1280: 1280px,
  l-1440: 1440px,
  l-1600: 1600px,
  xl-1920: 1920px
);
