%hide-text {
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;
}

%horz-align {
  left: 50%;
  transform: translateX(-50%);
}

%reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}

%vertical-align {
  top: 50%;
  transform: translateY(-50%);
}

%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}
